<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}
        {% if group_name %}
            <optgroup label="{{ group_name }}">
        {% endif %}
    {% for option in group_choices %}
        {% include option.template_name with widget=option %}
    {% endfor %}
    {% if group_name %}
        </optgroup>
    {% endif %}
    {% endfor %}
</select>

<script>
    for (const selectElement of document.getElementsByName("{{ widget.name }}").values()) {
        if (!selectElement.hasAttribute("template") && selectElement.tomselect === undefined) {
            new TomSelect(selectElement, {
                allowEmptyOption: !selectElement.required,
                create: {% if create %}true{% else %}false{% endif %},
                remove_button:{
                    title:'Remove this item',
                }
            });
        }
    }
</script>