
.component-list
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: auto auto

  .list-top
    grid-column: 2/5
    display: flex
    justify-content: space-around
  .component-reduced-view
    height: 10vh
    width: 100%
    grid-column: 1/5
    display: flex
    justify-content: space-around
    .data-background
      display: flex
      flex-basis: 50%
      flex-grow: 1
      max-height: 100%
      margin: .5%
      border: 2px solid #D9D9D9
      border-radius: 5px
      background-color: #D9D9D9
      justify-content: center
      align-content: center
      text-align: center
      .tag
        display: flex
        width: 90%
        height: fit-content
        padding: 2%
        border: 2px solid #D9D9D9
        border-radius: 5px
        background-color: #D9D9D9
        margin: 2%
      img
        display: inline-block
        height: 100%
        max-width: 100%
      p
        display: flex
        align-content: center
        align-items: center