@font-face
    font-family: Montserrat
    src: url("../Montserrat/static/Montserrat-Light.ttf")

*
    font-family: Montserrat, sans-serif
    margin: 0
    padding: 0

form
    p
        display: flex
        min-height: 5vh
        width: 100%
        input
            width: 100%
            margin: .5vh 1%
        label
            display: flex
            justify-content: center
            align-items: center
            text-align: center
            min-width: fit-content
            margin-right: 2%

table
    th
        border-bottom: 1px solid black
    tr
        td
            border-bottom: 1px solid black

.header
    margin: 2vh 2vw 5vh 2vw
    display: flex
    font-size: 1.3rem
    height: 15vh
    min-width: fit-content
    .logo
        width: 20%
        img
            height: 100%

.nav-bar
    margin: 2%


