
{% extends "mainApp/index.html" %}
{%  block body %}
    <button onclick="document.location.href = '{{ electricalcomponent.get_edit_url }}'">Edit</button>
    <button onclick="document.location.href = '{{ electricalcomponent.get_delete_url }}'">Delete</button>
    <table>
        <th>Ref</th>
        <th>Custom Description</th>
        <th>Recommended Stock</th>
        <th>Current Stock</th>
        <th>Is in use internally</th>
        <th>Last update</th>
        <tr>
            <td><a href="https://octopart.com/search?q={{ electricalcomponent.reference }}">{{ electricalcomponent.reference }}</a></td>
            <td>{{ electricalcomponent.custom_description }}</td>
            <td>{{ electricalcomponent.recommended_stock }}</td>
            <td>{{ electricalcomponent.current_stock }}</td>
            <td>{{ electricalcomponent.is_in_use_internally }}</td>
            <td>{{ electricalcomponent.last_update }}</td>
        </tr>
    </table>
    <a href="{% url "home" %}">Home</a>
{% endblock %}