{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.1.0/dist/js/tom-select.complete.min.js"></script>
    <link href="{% static 'mainApp/css/index.css' %}" rel="stylesheet">
    <link href="{% static 'mainApp/css/electricalcomponent_list.css' %}" rel="stylesheet">
    <title>{% block title %} {%  endblock %}</title>
 </head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="{%  static 'mainApp/assets/LOGO_v2.3_2021_Club_Robot._sense_logo.png' %}" alt="Logo Club Robot INSA Toulouse">
            </div>
            <h1>Club Robot</h1>
        </div>
        </div>
        <div class="nav-bar">
            <a href="{% url "home" %}">Home</a>
            <a href="{% url "component.insert" %}">Add component</a>
            <a href="{% url "component.list" %}">View components</a>
            <a href="{% url "component.create_tags" %}">Add tag</a>
            <a href="{% url "component.list_tags" %}">List tags</a>
            <a href="{% url "component.statistics" %}">Statistics</a>
        </div>
        <div>
            {% block body %}
                <form action="{% url 'component.search_results' %}" method="get">
                <div class="search">
                    <div class="tom-select">
                        <input id="searchComponent" name="q" type="text" placeholder="Enter a word to search">
                    </div>
                    <input type="submit" value="Search" class="btn btn-info">
                    </script>
                </div>
                </form>
            {%  endblock %}
        </div>
    </body>
</html>