{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'mainApp/css/index.css' %}" rel="stylesheet">
    <title>{% block title %} {%  endblock %}</title>
</head>
    <body>
        <div class="header">
            <div class="logo">
                <img src="{%  static 'mainApp/assets/LOGO_v2.3_2021_Club_Robot._sense_logo.png' %}" alt="Logo Club Robot INSA Toulouse">
            </div>
            <h1>Club Robot</h1>
        </div>
        </div>
        <div class="nav-bar">
            <a href="{% url "home" %}">Home</a>
            <a href="{% url "component.insert" %}">Add component</a>
            <a href="{% url "component.list" %}">View components</a>
        </div>
        <div>
            {% block body %}
                <form action="{% url 'component.search_results' %}" method="get">
                <div class="search">
                        <input name="q" type="text" placeholder="Enter a word to search">
                        <input type="submit" value="Search">
                </div>
                </form>
            {%  endblock %}
        </div>
    </body>
</html>